In [0]:
import numpy as np
import pandas as pd
import seaborn as sns
pd.options.display.max_columns = None
pd.options.display.max_rows = None

ModuleNotFoundError: ModuleNotFoundError: No module named 'pandas_profiling'

# Načítanie a úprava dát z csv súborov.

In [0]:
def strip_columns(dataframe):
    for column_name in dataframe:
        if dataframe[column_name].dtypes == 'object':
            dataframe[column_name] = dataframe[column_name].str.strip()
        
    return dataframe

# other_train
df_other = pd.read_csv('./other_train.csv', sep=',', index_col=0) # First column is Unnamed
df_other = strip_columns(df_other)

In [0]:
df_other.info() # There are 22 columns. 10 atributes are float type and 12 are object.
# All columns expect name and adress have null values

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3983 entries, 0 to 3982
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   name              3983 non-null   object
 1   address           3983 non-null   object
 2   race              3971 non-null   object
 3   marital-status    3709 non-null   object
 4   occupation        3968 non-null   object
 5   pregnant          3967 non-null   object
 6   education-num     3971 non-null   float64
 7   relationship      3972 non-null   object
 8   skewness_glucose  3968 non-null   float64
 9   mean_glucose      3974 non-null   float64
 10  capital-gain      3964 non-null   float64
 11  kurtosis_glucose  3970 non-null   float64
 12  education         3969 non-null   object
 13  fnlwgt            3965 non-null   float64
 14  class             3972 non-null   float64
 15  std_glucose       3966 non-null   float64
 16  income            3971 non-null   object
 17  medical_info      3967 non-null   object
 18  native-country    3967 non-null   object
 19  hours-per-week    3971 non-null   float64
 20  capital-loss      3971 non-null   float64
 21  workclass         3968 non-null   object
dtypes: float64(10), object(12)
memory usage: 715.7+ KB

V datasete je 22 atribútov, pričom 10 z nich sú typu float a zvyšných 12 je typu object.
Všetky stĺpce okrem name a adress majú chýbajúce hodnoty.

In [0]:
df_other.describe()

,education-num,skewness_glucose,mean_glucose,capital-gain,kurtosis_glucose,fnlwgt,class,std_glucose,hours-per-week,capital-loss
count,3971.000000,3968.000000,3974.000000,3964.000000,3970.000000,3.965000e+03,3972.000000,3966.000000,3971.000000,3971.000000
mean,10.065223,4.233223,69.173141,1228.128406,0.952248,1.911784e+05,0.256294,45.172793,40.505162,73.254092
std,2.671998,9.715162,3348.917032,8623.958204,1.614087,1.072410e+05,0.436641,7.621144,12.279149,369.551911
min,1.000000,-1.755332,-18973.437500,0.000000,-1.641515,1.882700e+04,0.000000,25.695250,1.000000,0.000000
25%,9.000000,-0.120081,83.955078,0.000000,0.070311,1.179830e+05,0.000000,40.151488,40.000000,0.000000
50%,10.000000,0.376026,110.613281,0.000000,0.311092,1.795090e+05,0.000000,45.878359,40.000000,0.000000
75%,13.000000,2.090854,125.382812,0.000000,0.776492,2.415230e+05,1.000000,50.350939,45.000000,0.000000
max,16.000000,68.101622,15887.500000,99999.000000,8.069522,1.366120e+06,1.000000,91.206475,99.000000,2824.000000

Štatistické údaje nie sú moc veľa vravné, pretože v nich sú celkom extrémne hodnoty.

In [0]:
df_other.head()

,name,address,race,marital-status,occupation,pregnant,education-num,relationship,skewness_glucose,mean_glucose,capital-gain,kurtosis_glucose,education,fnlwgt,class,std_glucose,income,medical_info,native-country,hours-per-week,capital-loss,workclass
0,David Hayes,235 Jennifer Throughway Suite 569\r\nNew Antho...,Black,??,Prof-specialty,f,5.0,Not-in-family,-0.197692,141.359375,0.0,-0.252430,9th,175431.0,0.0,49.842053,<=50K,"{'mean_oxygen':'4.04264214','std_oxygen':'19.4...",United-States,40.0,0.0,Private
1,Stanley Benny,"08954 Johnson Course\r\nNew Lauraville, NV 22019",White,Married-civ-spouse,Exec-managerial,f,13.0,Husband,16.019670,53.968750,0.0,3.149333,Bachelors,66473.0,1.0,31.900220,>50K,"{'mean_oxygen':'9.294314381','std_oxygen':'35....",United-States,40.0,0.0,Private
2,Domingo Labriola,"36319 Wiley Drive Suite 094\r\nSouth Michael, ...",Asian-Pac-Islander,Married-civ-spouse,Farming-fishing,f,3.0,Husband,21.803837,2257.812500,0.0,4.650770,5th-6th,93206.0,1.0,35.793158,<=50K,"{'mean_oxygen':'138.7876254','std_oxygen':'79....",Philippines,40.0,0.0,Private
3,Ronnie Moore,"0755 Soto Oval Apt. 443\r\nWest Markside, TX 3...",White,Never-married,Other-service,FALSE,10.0,Not-in-family,-0.112191,110.046875,0.0,0.441957,Some-college,137604.0,0.0,53.876575,<=50K,"{'mean_oxygen':'3.100334448','std_oxygen':'17....",United-States,40.0,0.0,Private
4,Victor Mcjunkin,"95738 Keller Overpass\r\nKennedyland, MO 71071",White,NaN,Adm-clerical,f,10.0,Not-in-family,-0.309642,137.960938,0.0,-0.048518,Some-college,174592.0,0.0,51.885451,<=50K,"{'mean_oxygen':'4.203177258','std_oxygen':'23....",United-States,40.0,0.0,Private

medical_info je komplexný objekt, ktorý môže byť rozdelený do viacerých stĺpcov.

In [0]:
df_other.shape[0] - df_other.dropna().shape[0]

337

Dataframe obsahuje 337 chýbajcich hodnôt.

In [0]:
def adjust_dataframe_columns(dataframe):
    dataframe['marital-status'] = dataframe['marital-status'].replace('??', np.nan)
    dataframe['occupation'] = dataframe['occupation'].replace('?', np.nan)
    dataframe['pregnant'] = dataframe['pregnant'].replace(['f', 'F', 'FALSE'], 'False')
    dataframe['pregnant'] = dataframe['pregnant'].replace(['t', 'T', 'TRUE'], 'True')
    dataframe['relationship'] = dataframe['relationship'].replace('Not_in_family', 'Not-in-family')
    dataframe['relationship'] = dataframe['relationship'].replace('Own_child', 'Own-child')
    dataframe['relationship'] = dataframe['relationship'].replace('Other_relative', 'Other-relative')
    dataframe['native-country'] = dataframe['native-country'].replace('?', np.nan)
    dataframe['workclass'] = dataframe['workclass'].replace('?', np.nan)

    return dataframe

df_other = adjust_dataframe_columns(df_other)

V prvej fáze sme zanalyzovali, v ktorých stĺpcoch sa nachádzajú aké unikátne hodnoty. Tie, ktoré nám nič nehovorili ako napríklad otázniky sme nahradili hodnotami np.nan aby sa nám jednoduchšie nahrádzali. V prípade, keď stĺpec obsahoval viacero hodnôt, ktoré hovorili to isté, len boli inak napísené, tak sme ich nahradili jednotným označním(napríklad 'f', 'F', 'False' majú teraz jednotné označenie 'False').

In [0]:
def separate_and_delete_medical_info(dataframe):
    df2 = pd.DataFrame() 
    # Iterate through every row and take values from medical_info column
    for _,column_data in dataframe['medical_info'].iteritems(): 
        if isinstance(column_data, str): # If value isn't nan
            column_data = column_data[1:-1] # Delect curly brackets from start and end of string
            column_data_split = column_data.split(',') # Split string by comma

            row = {} 
            for name_value in column_data_split: # Iterate through split string
                name_value_split = name_value.split(':') # Split into name of column and value of column
                # Store value into dictionary with name of the column as a key
                row[name_value_split[0][1:-1]] = [np.float(name_value_split[1][1:-1])] # Get rid of '' by [1:-1]

            row_data_frame = pd.DataFrame(row) # Convert dictionary into DataFrame
            df2 = df2.append(row_data_frame, ignore_index=True) # Append row_data_frame into df2
        else: # Value is nan, append nan row into df2
            df2 = df2.append(pd.Series(np.nan), ignore_index=True)
            
    df2 = df2.drop(columns=[0]) # Drop last column

    # Add values from df2 to main df
    for column_name in df2.columns:
        dataframe[column_name] = df2[column_name]

    del dataframe['medical_info'] # medical info is already divided into another columns, so we can erase it

    return dataframe
    
df_other = separate_and_delete_medical_info(df_other)

Pomocou funkcie separate_and_delete_medical_info sme rozdelili hodnoty v stĺpci medical_info do viacerých atribútov, pričom nám tento stĺpec už nebol potrebný, takže sme ho mohli vymazať.

In [0]:
# personal_train
df_personal = pd.read_csv("./personal_train.csv", index_col=0, sep=',') # First column was Unnamend
for column_name in df_personal:
    if df_personal[column_name].dtypes == 'object':
        df_personal[column_name] = df_personal[column_name].str.strip()

In [0]:
df_personal.describe()

,age
count,3540.000000
mean,51.816949
std,11.914637
min,-1.000000
25%,44.000000
50%,52.000000
75%,60.000000
max,113.000000

Najmenšie hodnota je -1, čo nebude dobré, pretože sa jedná o vek. Presnosť ostatných vecí nie je možné z tohto tak ľahko posúdiť.

In [0]:
df_personal.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3933 entries, 0 to 3932
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           3933 non-null   object
 1   address        3933 non-null   object
 2   age            3540 non-null   float64
 3   sex            3933 non-null   object
 4   date_of_birth  3933 non-null   object
dtypes: float64(1), object(4)
memory usage: 184.4+ KB

Dataframe obsahuje 3933 záznamov, pričom každý jeden má 5 atribútov.

age je jediný typu float, ostatné sú typu object.

age má 393 buniek s chýbajúcou hodnotou.

ostatné atribúty nemajú chýbajúce hodnoty.

In [0]:
df_personal.head()

,name,address,age,sex,date_of_birth
0,Roscoe Bohannon,"7183 Osborne Ways Apt. 651\r\nEast Andrew, OH ...",63.0,Female,1956-10-02
1,Ernest Kline,"391 Ball Road Suite 961\r\nFlowersborough, IN ...",58.0,Female,1961-05-14
2,Harold Hendriks,"8702 Vincent Square\r\nNew Jerryfurt, CO 30614",47.0,Male,1972-06-19
3,Randy Baptiste,"2751 Harris Crossroad\r\nWest Ashley, CA 30311",60.0,Female,1959-02-19
4,Anthony Colucci,"904 Robert Cliffs Suite 186\r\nWest Kyle, CO 7...",31.0,Female,1988-08-04

Atribút address je možné rozdeliť do viacerých stĺpcov(street, city, zip_code)

In [0]:
def separete_and_delete_address(dataframe):
    df_addresses = dataframe['address'].replace('\r', ',', regex=True)
    df_addresses = df_addresses.replace('\n', ' ', regex=True)
    df_addresses = df_addresses.str.split(',')

    cities = []
    streets = []
    zip_codes = []

    for address in df_addresses:
        if len(address) < 3: # these records have cities in address
            streets.append(address[0])
            cities.append(None)
            zip_codes.append(address[1])
        else: # these records don't have cities in address
            streets.append(address[0])
            cities.append(address[1])
            zip_codes.append(address[2])
    
    dataframe['street'] = streets
    dataframe['city'] = cities
    dataframe['zip_code'] = zip_codes

    dataframe = dataframe.drop('address', axis=1)

    return dataframe

df_personal = separete_and_delete_address(df_personal)

Pomocou funkcie separate_and_delete_address sme rozdelili hodnoty v stĺpci address do viacerých atribútov, pričom nám tento stĺpec už nebol potrebný, takže sme ho mohli vymazať.

In [0]:
df_personal.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3933 entries, 0 to 3932
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           3933 non-null   object
 1   age            3540 non-null   float64
 2   sex            3933 non-null   object
 3   date_of_birth  3933 non-null   object
 4   street         3933 non-null   object
 5   city           3657 non-null   object
 6   zip_code       3933 non-null   object
dtypes: float64(1), object(6)
memory usage: 245.8+ KB

276 buniek v stĺpci city má chýbajúcu hodnotu.

In [0]:
df_personal.shape[0] - df_personal.dropna().shape[0] # there are 643 nan values

643

Dataframe obsahuje 643 chýbajúcich hodnôt.

In [0]:
df_joined = df_other.join(df_personal.set_index('name'), on='name') # join other train and personal train on name

In [0]:
del df_joined['address'] # we can also erase disgusting address column, because we have it in detail from personal train

df_joined je nový dataframe, ktorý vznikol spojením dataframov other a personal.

In [0]:
df_joined.info() # There are 31 atributes. 16 are objects and the other 15 are floats. There are 3983 records

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3983 entries, 0 to 3982
Data columns (total 30 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   name              3983 non-null   object
 1   race              3971 non-null   object
 2   marital-status    3570 non-null   object
 3   occupation        3744 non-null   object
 4   pregnant          3967 non-null   object
 5   education-num     3971 non-null   float64
 6   relationship      3972 non-null   object
 7   skewness_glucose  3968 non-null   float64
 8   mean_glucose      3974 non-null   float64
 9   capital-gain      3964 non-null   float64
 10  kurtosis_glucose  3970 non-null   float64
 11  education         3969 non-null   object
 12  fnlwgt            3965 non-null   float64
 13  class             3972 non-null   float64
 14  std_glucose       3966 non-null   float64
 15  income            3971 non-null   object
 16  native-country    3909 non-null   object
 17  hours-per-week    3971 non-null   float64
 18  capital-loss      3971 non-null   float64
 19  workclass         3741 non-null   object
 20  mean_oxygen       3967 non-null   float64
 21  std_oxygen        3967 non-null   float64
 22  kurtosis_oxygen   3967 non-null   float64
 23  skewness_oxygen   3967 non-null   float64
 24  age               3586 non-null   float64
 25  sex               3983 non-null   object
 26  date_of_birth     3983 non-null   object
 27  street            3983 non-null   object
 28  city              3704 non-null   object
 29  zip_code          3983 non-null   object
dtypes: float64(15), object(15)
memory usage: 964.6+ KB

df_joined obsahuje 31 atribútov, pričom 16 z nich sú typu object a zvyšných 15 je typu float. Dataframe má 3983 záznamov.

In [0]:
df_joined.describe()

,education-num,skewness_glucose,mean_glucose,capital-gain,kurtosis_glucose,fnlwgt,class,std_glucose,hours-per-week,capital-loss,mean_oxygen,std_oxygen,kurtosis_oxygen,skewness_oxygen,age
count,3971.000000,3968.000000,3974.000000,3964.000000,3970.000000,3.965000e+03,3972.000000,3966.000000,3971.000000,3971.000000,3967.000000,3967.000000,3967.000000,3967.000000,3586.000000
mean,10.065223,4.233223,69.173141,1228.128406,0.952248,1.911784e+05,0.256294,45.172793,40.505162,73.254092,18.537297,31.183114,7.405864,91.191022,51.828779
std,2.671998,9.715162,3348.917032,8623.958204,1.614087,1.072410e+05,0.436641,7.621144,12.279149,369.551911,34.828662,22.262766,4.814843,108.575211,11.927593
min,1.000000,-1.755332,-18973.437500,0.000000,-1.641515,1.882700e+04,0.000000,25.695250,1.000000,0.000000,0.213211,7.370432,-2.597872,-1.976976,-1.000000
25%,9.000000,-0.120081,83.955078,0.000000,0.070311,1.179830e+05,0.000000,40.151488,40.000000,0.000000,2.065635,15.062338,3.628014,12.743507,44.000000
50%,10.000000,0.376026,110.613281,0.000000,0.311092,1.795090e+05,0.000000,45.878359,40.000000,0.000000,3.237458,20.594663,7.779635,68.358187,52.000000
75%,13.000000,2.090854,125.382812,0.000000,0.776492,2.415230e+05,1.000000,50.350939,45.000000,0.000000,12.679766,43.333643,10.260328,126.817691,60.000000
max,16.000000,68.101622,15887.500000,99999.000000,8.069522,1.366120e+06,1.000000,91.206475,99.000000,2824.000000,217.371238,110.642211,34.539844,1191.000837,113.000000

Moc veľa sa z týchto štatistických dáta nedá vyčítať, pretože majú veľa vychýlených hodnôt.

In [0]:
df_joined.shape[0] - df_joined.dropna().shape[0]

1258

Dataframe df_joined obsahuje 1258 chýbajúcich hodnôt.

In [0]:
df_joined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3983 entries, 0 to 3982
Data columns (total 30 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   name              3983 non-null   object
 1   race              3971 non-null   object
 2   marital-status    3570 non-null   object
 3   occupation        3744 non-null   object
 4   pregnant          3967 non-null   object
 5   education-num     3971 non-null   float64
 6   relationship      3972 non-null   object
 7   skewness_glucose  3968 non-null   float64
 8   mean_glucose      3974 non-null   float64
 9   capital-gain      3964 non-null   float64
 10  kurtosis_glucose  3970 non-null   float64
 11  education         3969 non-null   object
 12  fnlwgt            3965 non-null   float64
 13  class             3972 non-null   float64
 14  std_glucose       3966 non-null   float64
 15  income            3971 non-null   object
 16  native-country    3909 non-null   object
 17  hours-per-week    3971 non-null   float64
 18  capital-loss      3971 non-null   float64
 19  workclass         3741 non-null   object
 20  mean_oxygen       3967 non-null   float64
 21  std_oxygen        3967 non-null   float64
 22  kurtosis_oxygen   3967 non-null   float64
 23  skewness_oxygen   3967 non-null   float64
 24  age               3586 non-null   float64
 25  sex               3983 non-null   object
 26  date_of_birth     3983 non-null   object
 27  street            3983 non-null   object
 28  city              3704 non-null   object
 29  zip_code          3983 non-null   object
dtypes: float64(15), object(15)
memory usage: 964.6+ KB

# Riešenie chýbajúcich hodnôt prvá stratégia

In [0]:
from sklearn.impute import SimpleImputer

copy_joined = df_joined.copy()
nan_map = copy_joined.isnull().any(axis=1)
copy_joined[nan_map]

imp = SimpleImputer(missing_values=np.nan, strategy='mean')
copy_joined['age'] = imp.fit_transform(copy_joined[['age']])
copy_joined[nan_map]

df_joined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3983 entries, 0 to 3982
Data columns (total 30 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   name              3983 non-null   object
 1   race              3971 non-null   object
 2   marital-status    3570 non-null   object
 3   occupation        3744 non-null   object
 4   pregnant          3967 non-null   object
 5   education-num     3971 non-null   float64
 6   relationship      3972 non-null   object
 7   skewness_glucose  3968 non-null   float64
 8   mean_glucose      3974 non-null   float64
 9   capital-gain      3964 non-null   float64
 10  kurtosis_glucose  3970 non-null   float64
 11  education         3969 non-null   object
 12  fnlwgt            3965 non-null   float64
 13  class             3972 non-null   float64
 14  std_glucose       3966 non-null   float64
 15  income            3971 non-null   object
 16  native-country    3909 non-null   object
 17  hours-per-week    3971 non-null   float64
 18  capital-loss      3971 non-null   float64
 19  workclass         3741 non-null   object
 20  mean_oxygen       3967 non-null   float64
 21  std_oxygen        3967 non-null   float64
 22  kurtosis_oxygen   3967 non-null   float64
 23  skewness_oxygen   3967 non-null   float64
 24  age               3586 non-null   float64
 25  sex               3983 non-null   object
 26  date_of_birth     3983 non-null   object
 27  street            3983 non-null   object
 28  city              3704 non-null   object
 29  zip_code          3983 non-null   object
dtypes: float64(15), object(15)
memory usage: 964.6+ KB

In [0]:
sns.displot(df_joined['age'], kde=True, bins=30) # Distribution of age values, Positive kurtosis and normal skewness

In [0]:
sns.displot(copy_joined['age'], kde=True, bins=30) # Distribution of age values, Positive kurtosis and normal skewness

# Riešenie chýbajúcich hodnôt druhá stratégia

# Riešenie vychýlených hodnôt

# Transformácia atribútu/ov pomocou Power transform (logaritmus, odmocnina a pod.)

# Opätovná realizácia podstatných častí prieskumnej analýzy


    Očakáva sa že dokumentujete zmeny distribúcie hodnôt po realizácii predspracovania
    Následne dokumentujete LEN zmeny v prieskumnej analýze